<form action="/add" method="POST">
    <input type="text" name="nama" placeholder="Nama" required>
    <input type="number" name="nama_ilmiah" placeholder="Nama Ilmiah" required>
    <button type="submit">Tambah Data</button>
</form>
