<form action="/edit/<%= item.id %>" method="POST">
    <input type="text" name="nama" value="<%= item.nama %>" required>
    <input type="text" name="nama_ilmiah" value="<%= item.nama_ilmiah %>" required>
    <button type="submit">Simpan Perubahan</button>
</form>
